.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.container {
	max-width: 1000px;
	height: 400px;
	margin: 0 auto;
}

#input {
	width: 100%;
}
.player1,
.computer {
	display: none;
}
