.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.message {
	font-weight: 500;
}
.result {
	font-weight: 700;
	color: red;
}
.container {
	max-width: 1000px;
	height: 400px;
	margin: 0 auto;
}
.firstline {
	display: flex;
	justify-content: space-around;
	p {
		flex: 1 1 auto;
		padding: 10px 25px;
		border: 1px solid rgb(0, 119, 128);
	}
}
.secondline,
.thirdline,
.forthline {
	display: flex;
	justify-content: space-between;
	text-align: center;
	p {
		flex: 1 1 auto;
		padding: 10px 25px;
		border: 1px solid green;
	}
	.third {
		&:first-child {
			border: none;
		}
	}
}
body {
	font-size: 18px;
}
.input {
	display: flex;
	justify-content: center;
	input {
		width: 300px;
	}
}
.capslock {
	text-transform: uppercase;
}
