.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.container {
	max-width: 1000px;
	height: 400px;
	margin: 0 auto;
}
.result {
	font-weight: 700;
	margin: 15px;
	margin-left: 0;
	font-size: 16px;
}
input {
	width: 500px;
}
